# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*


# scss mpa files
.gallery.css
.gallery.css.map
.header.css
.header.css.map
.main.css
.main.css.map
.nav.css
.nav.css.map
.style.css
.style.css.map