@use '../variables';

@layer utilities {
  .text-test {
    color: var(--primary);
    text-decoration: underline;
  }
  .banner-bg {
    background: url(/images/banners/main-banner.jpg)no-repeat 0 0;
    background-size: cover;
  }
}