@import '@/tw-styles.css';

@layer utilities {
  .main-menu{
    position: relative;
    display: inline-block;
    color: var(--black);
  }
  .main-menu:hover{
    color: var(--font-primary);
  }
  .main-menu::after{
    content: "";
    position: absolute;
    width: 0;
    border-bottom: 3px solid var(--primary);
    transition: 0.8s;
  }
  .main-menu:hover:after{
    width: 100%;
    transform: scaleX(1);
  }
}